.contact-section {
    background-color: white;
    padding-top: 70px;
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
  }
  
  .contact-title {
    text-align: center;
  }
  
  .contact-title {
    font-size: 40px;
    font-family: 'notosans';
    font-weight: bolder;
    margin-bottom: 2rem;
    color: #030723;
  }

  .icon-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.icon {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.icon:hover {
  transform: scale(1.2); 
  filter: brightness(1.2);
}

.icon-links a {
  padding-top: 2rem;
  position: relative; 
}

.icon-links a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 10px;
  background-color: #FF85C6;
  transition: width 0.3s ease;
}

.icon-links a:hover::after {
  width: 100%; 
}

.text {
  font-family: 'notosans';
  font-weight: bold;
}

.text-label {
  font-family: 'notosans';
  font-size: large;
}

.text-heading {
  font-family: 'notosans';
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.message-form {
  margin-top: 20px;
}

.message-form form {
  display: flex;
  flex-direction: column;
}

.message-form label {
  margin-bottom: 10px;
}

.message-form input,
.message-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message-form button {
  background-color: #658bdd;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.message-form button:hover {
  background-color: #4774d6;
}

.contact-section .icon-links a {
  position: relative; 
}

.contact-section .icon-links a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 10px;
  background-color: #DE7E5D;
  transition: width 0.3s ease;
}

.contact-section .icon-links a:hover::after {
  width: 100%; 
}