.projects-section {
  background-color: white;
  padding: 50px 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh; 
}

.projects-title {
  font-size: 2.5rem;
  font-family: 'notosans';
  color: #030723;
  font-weight: bolder;
  margin-bottom: 3rem !important;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.project-card {
  background-color: #FDEEDC;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.project-card-content {
  text-align: center;
}

.project-card-title {
  font-size: 1.5rem;
  font-family: 'notosans';
  color: #000000;
  margin-bottom: 15px;
}

.project-card-description {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: 'notosans';
  color: #333;
}

.project-card-link {
  font-size: 1.1rem;
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}

.project-card-link:hover {
  text-decoration: underline;
}