body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'cursive1', 'bubble', 'cursive2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'cursive1'; /* Use a name of your choice */
  src: url('./fonts/hesland.otf') format('opentype'); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bubble';
  src: url('./fonts/super-frog.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'cursive2';
  src: url('./fonts/autumn-in-november.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'zroman';
  src: url('./fonts/zurich-roman.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'rolemodel';
  src: url('./fonts/role-model.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'fontleroy';
  src: url('./fonts/fontleroy-brown.ttf') format('truetype');
  font-weight: 100;
}

